<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title_page">Specialités</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchBar()">
        <ion-icon slot="icon-only" ios="search-outline" md="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="searchbar == 0" style="margin-top:-7px;padding-bottom:0px">
    <div class="header_docs">
      <input placeholder="Recherche..." class="searchbar_doc" [(ngModel)]="searchQuery" (keyup)="search($event)">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main_ras" *ngIf="this.specialites.length == 0">
    <p class="content_icon_ras">
      <ion-icon name="cloud-offline-outline" class="icon_ras"></ion-icon>
    </p>
    <p class="msg_ras">
      Aucune Spécialité
    </p>
  </div>
  <div class="content_specialite" *ngIf="this.specialites.length > 0">
    <div *ngFor="let item of specialites">
      <ion-card class="item_specialite item_specialite2" (click)="this.general.filter = item.nom"
        routerLink="/tab-nav/doctors">
        <div class="content_icon_spec content_icon_spec2">
          <!-- <ion-icon name="eye-outline" class="img_spec img_spec2"></ion-icon> -->
          <i class={{item.icone}} style="color:white;font-size: 20px;;margin:0 auto;margin-top:8px;"></i>
        </div>
        <div class="content_texte_spec content_texte_spec2">
          <p class="label_spec">Specialité:</p>
          <p class="titre_spec">{{item.nom}}</p>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>